<nav class="bg-green-900 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-lg font-bold">Troja Kurapa</h1>
    <ul class="flex space-x-4">
      <li>
        <a href="#inicio" class="hover:underline">Inicio</a>
      </li>
      <li>
        <a href="#productos" class="hover:underline">Productos</a>
      </li>
      <li>
        <a href="#contacto" class="hover:underline">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
